/*
Error: Invalid CSS after "</svg>": expected "{", was ""
        on line 5 of sprite_icons.scss

1: <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 360 60">
2: 	<g id="icon_btn" data-size="360 60">
3: 	<path fill-rule="evenodd"  d="M350.000,60.000 L330.000,60.000 L340.000,30.000 L330.000,-0.000 L350.000,-0.000 L360.000,30.000 L350.000,60.000 ZM320.000,60.000 L300.000,60.000 L310.000,30.000 L300.000,-0.000 L320.000,-0.000 L330.000,30.000 L320.000,60.000 ZM290.000,60.000 L270.000,60.000 L4.000,60.000 C1.791,60.000 -0.000,58.209 -0.000,56.000 L-0.000,30.000 C-0.000,13.432 13.431,-0.000 30.000,-0.000 L270.000,-0.000 L290.000,-0.000 L300.000,30.000 L290.000,60.000 Z"/>
4: 	</g>
5: </svg>

Backtrace:
sprite_icons.scss:5
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1208:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:677:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.3/bin/scss:13:in `<top (required)>'
C:/Ruby24-x64/bin/scss:23:in `load'
C:/Ruby24-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"</svg>\": expected \"{\", was \"\"\A         on line 5 of sprite_icons.scss\A \A 1: <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"  viewBox=\"0 0 360 60\">\A 2: 	<g id=\"icon_btn\" data-size=\"360 60\">\A 3: 	<path fill-rule=\"evenodd\"  d=\"M350.000,60.000 L330.000,60.000 L340.000,30.000 L330.000,-0.000 L350.000,-0.000 L360.000,30.000 L350.000,60.000 ZM320.000,60.000 L300.000,60.000 L310.000,30.000 L300.000,-0.000 L320.000,-0.000 L330.000,30.000 L320.000,60.000 ZM290.000,60.000 L270.000,60.000 L4.000,60.000 C1.791,60.000 -0.000,58.209 -0.000,56.000 L-0.000,30.000 C-0.000,13.432 13.431,-0.000 30.000,-0.000 L270.000,-0.000 L290.000,-0.000 L300.000,30.000 L290.000,60.000 Z\"/>\A 4: 	</g>\A 5: </svg>"; }
