* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: #56779f;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1,
.h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 25px;
	text-transform: uppercase;

	&.heading-arrow {
		background-position: 0 6px;
	}

	&.heading-h1 {
		text-transform: inherit;
	}

	@media (min-width: $screen-sm-min) {

		&.heading-h1 {
			font-size: 40px;
		}
	}
}

h2,
.h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.heading-h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 15px;
}

h3,
.h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 15px;
	text-transform: uppercase;
}

h4,
.h4 {
	font-size: 17px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 15px;
	text-transform: uppercase;
}


.heading-arrow {
	padding-left: 25px;
	background: url("../img/heading_arrow.png") 0 2px no-repeat;
}

p {
	padding: 0;
	margin: 0 0 15px 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

::-moz-selection {
	background-color: $color-yellow;
	color: #ffffff;
}
::selection {
	background-color: $color-yellow;
	color: #ffffff;
}