.main {
	background: #fff;
	padding: 50px 0;
}

.divider {
	height: 100px;
}

.page {
	padding-top: 20px;
	padding-bottom: 50px;
}

.page-body {
	overflow: hidden;
}

.rows {

	.col-left {
		margin-bottom: 40px;
	}

	.col-right {

	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;
		table-layout: fixed;

		.col-left {
			margin-bottom: 0;
			padding-right: 20px;
			display: table-cell;
			vertical-align: top;
		}

		.col-right {
			width: 290px;
			display: table-cell;
			vertical-align: top;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
		display: table;

		.col-left {
			width: 825px;
		}

		.col-right {
			width: 355px;
		}
	}
}

.breadcrumbs {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	li {
		float: left;
		color: #282828;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;

		&:after {
			padding: 0 8px;
			content: '/';
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			color: #282828;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.figure {
	color: #fff;

	&.figure-yellow {
		background: $color-yellow url("../img/figure_pattern.png");
	}

	&.figure-green {
		background: #a1b941 url("../img/figure_pattern.png");
	}

	&.figure-blue {
		background: #45b4d4 url("../img/figure_pattern.png");
	}

	.figure-row {}

	.figure-heading {
		padding-top: 30px;
		position: relative;
		text-align: center;
		padding-bottom: 50px;

		&:before {
			bottom: -35px;
			left: 50%;
			content: '';
			width: 43px;
			height: 100px;
			margin-left: -20px;
			position: absolute;
			display: inline-block;
			background: url("../img/figure_arrow.svg") 0 0 no-repeat;
			background-size: cover;
			@include rotate(90deg);
		}

		span {
			display: block;
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 10px;
		}

		strong {
			display: block;
			font-size: 50px;
			line-height: 50px;
		}
	}

	.figure-content {
		padding: 30px 0;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		.figure-row {
			width: 100%;
			display: table;
		}

		.figure-heading {
			width: 350px;
			text-align: left;
			padding: 60px 50px 60px 0;
			display: table-cell;
			vertical-align: middle;

			&:before {
				top: 50%;
				right: 0;
				left: auto;
				bottom: auto;
				@include rotate(0);
				margin: -50px 0 0 0;
			}

			span {
				font-size: 36px;
				line-height: 36px;
			}

			strong {
				font-size: 55px;
				line-height: 60px;
			}
		}


		.figure-content {
			font-size: 22px;
			line-height: 32px;
			text-align: left;
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 55px;
		}
	}

	@media (min-width: $screen-md-min) {

		.figure-heading {
			width: 455px;

			&:before {
				width: 60px;
				height: 140px;
				margin-top: -70px;
			}

			span {
				margin-bottom: 15px;
			}

			strong {
				font-size: 70px;
				line-height: 70px;
			}
		}
	}
}

.block-long {
	color: #fff;
	padding: 10px;
	background: #a1b941 url("../img/figure_pattern.png");

	.block-long-row {
		width: 100%;
		border: 3px solid #fff;
	}

	.block-long-left {
		padding: 30px 10px 20px 10px;
		text-align: center;
	}

	.block-long-right {
		text-align: center;
		padding: 20px 10px 30px 10px;
	}

	.h1 {
		margin-bottom: 10px;
	}

	.text {
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {

		.block-long-left {
			padding: 40px 30px 20px 30px;
		}

		.block-long-right {
			padding: 20px 10px 50px 10px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.block-long-row {
			display: table;
			width: 100%;
		}

		.block-long-left {
			width: 480px;
			text-align: left;
			display: table-cell;
			vertical-align: middle;
			padding: 40px 15px 40px 30px;
		}

		.block-long-right {
			display: table-cell;
			vertical-align: middle;
			padding: 20px 10px 20px 10px;
		}
	}
}

.side-box-wrap {
	margin: 0 -20px 0 -20px;
}

.block-high {
	color: #fff;
	padding: 10px;
	background: #a1b941 url("../img/figure_pattern.png");

	&.block-transparent{
		padding: 0;
		color: $text-color;
		background: transparent;

		.block-high-inner {
			border-color: $color-yellow;
		}
	}

	&.block-high-yellow {
		background: #e9bb3b url("../img/figure_pattern.png");
	}

	.block-high-inner {
		padding: 35px 15px;
		text-align: center;
		border: 3px solid #fff;
	}

	.h1 {
		margin-bottom: 10px;
	}

	.block-subtitle {
		font-size: 18px;
		line-height: 28px;
		padding-bottom: 20px;
		margin-bottom: 15px;
		position: relative;
		text-transform: uppercase;

		&:before {
			left: 50%;
			bottom: 0;
			width: 70px;
			height: 3px;
			content: '';
			background: #fff;
			position: absolute;
			margin-left: -35px;
		}

		&.no-line {
			padding-bottom: 0;

			&:before {
				display: none;
			}
		}
	}

	.block-text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {

		.block-high-inner {
			padding: 60px 15px 50px 15px;
		}
	}
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-60 {
	margin-bottom: 60px;
}

.pt-5 {
	padding-top: 5px;
}

.block-gray {
	padding: 50px 0;
	background: #f3f3f3;
}

.content {

	ol {
		list-style:none;
		counter-reset:li;
		margin-bottom: 20px;

		li {
			padding-left: 20px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 0;
				left: 0;
				font-weight: 700;
				color: $color-yellow;
				content:counter(li) '.';
				counter-increment:li;
				position: absolute;
			}
		}
	}

	ul {
		margin-bottom: 20px;

		li {
			padding-left: 20px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 12px;
				left: 0;
				content: '';
				width: 10px;
				height: 3px;
				background: #000;
				position: absolute;
			}
		}
	}


	.list-arrow {

		li {
			padding-left: 33px;
			background: url("../img/list-arrow.png") 0 8px no-repeat;

			&:before {
				display: none;
			}
		}
	}


	.table {
		width: 100%;
		margin-bottom: 20px;

		tr {

			th {
				font-size: 16px;
				line-height: 20px;
				padding: 10px 15px;
				text-align: left;
				border-bottom: 2px solid #282828;
			}

			td {
				font-size: 16px;
				line-height: 20px;
				padding: 10px 15px;
			}

			&:nth-child(even) {

				td {
					background: #f8f8f8;
				}
			}

			&:nth-child(odd) {

				td {
					background: #ebebeb;
				}
			}
		}
	}

	@media (max-width: 600px) {

		.table-responsive {
			width: 100%;
			overflow-y: hidden;
			overflow-x: scroll;
			margin-bottom: 20px;
			border: 1px solid #ddd;
			-ms-overflow-style: -ms-autohiding-scrollbar;

			.table {
				min-width: 600px;
				margin-bottom: 0;
			}
		}
	}

	.image {
		display: block;
		font-style: italic;
		text-align: center;
		margin-bottom: 15px;

		img {
			margin-bottom: 10px;
		}

		@media (min-width: $screen-md-min) {
			float: left;
			width: 355px;
			margin: 0 20px 10px 0;
		}
	}
}

blockquote {
	font-weight: 700;
	margin: 0;
	padding: 0 0 20px 60px;
	min-height: 40px;
	background: url("../img/blockqoute.png") 0 8px no-repeat;
}


.text-lead {
	padding-left: 10px;
	margin: 0 0 30px 10px;
	border-left: 5px solid $color-yellow;
}

.text-border {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	padding: 15px 20px;
	margin-bottom: 30px;
	border: 3px solid $color-yellow;
}

.video-block {
	margin-bottom: 40px;
	border-bottom: 1px solid #e9e9e9;

	.video-cast {
		padding-top: 35px;
		padding-bottom: 24px;
		@include clearfix();
	}

	.video-cast-social {
		margin-bottom: 20px;

		span {
			width: 100%;
			float: left;
			display: block;
			font-size: 16px;
			font-weight: 700;
			line-height: 30px;
			text-transform: uppercase;
		}

		a {
			float: left;
			width: 30px;
			height: 30px;
			padding: 7px 0;
			color: #b5b5b5;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			background: #e9e9e9;
			margin-right: 5px;
			display: inline-block;
			@include border-radius(50%);

			&:hover {
				color: #fff;
				background: $color-yellow;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.video-cast-social {
			float: left;
			margin-bottom: 0;
			padding-top: 5px;

			span {
				width: auto;
				margin-right: 20px;
			}
		}

		.video-cast-button {
			float: right;
		}
	}
}

.btn-pdf {
	color: #56779f;
	font-size: 17px;
	line-height: 24px;
	display: table;
	max-width: 330px;
	text-decoration: none;
	background: url("../img/icon_pdg.png") 0 50% no-repeat;

	span {
		min-height: 50px;
		padding-left: 50px;
		display: table-cell;
		vertical-align: middle;
	}
}

.slider {

	.slider-main {
		position: relative;
		margin-bottom: 15px;

		img {
			border: none;
			outline: none;
		}

		.slide-nav {
			top: 50%;
			z-index: 10;
			width: 70px;
			height: 70px;
			cursor: pointer;
			margin-top: -35px;
			position: absolute;
			display: inline-block;
			background: rgba(0,0,0,0.5) url("../img/icon_arrow_next.png") 50% 50% no-repeat;
			@include border-radius(50%);

			&:hover {
				background-color: rgba(0,0,0,0.7);
			}

			&.next {
				right: 25px;
			}

			&.prev {
				left: 25px;
				@include rotate(180deg);
			}
		}
	}

	.slider-thumbs {
		margin: 0 -7px;
		position: relative;

		.slider-thumbs-item {
			border: none;
			outline: none;
			margin: 0 7px;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(255,255,255,0.7);
			}

			&.slick-current {

				&:before {
					background: transparent;
					border: 4px solid $color-yellow;
				}
			}
		}
	}
}

.slider-author {
	padding: 20px 0;
	@include clearfix();
	border-bottom: 1px solid #e5e5e5;

	.author-photo {
		float: left;
		width: 70px;
		height: 70px;
		overflow: hidden;
		margin-right: 20px;
		@include border-radius(50%);
	}

	.author-text {
		float: left;
		font-size: 15px;
		line-height: 20px;
		padding: 10px 0 0 0;

		strong {
			display: block;
			font-size: 16px;
			text-transform: uppercase;
		}
	}

	.social-list {
		width: 100%;
		float: left;
		padding-top: 20px;


	}

	.meta {
		float: left;
		padding-top: 20px;
	}

	@media (min-width: $screen-sm-min) {

		.social-list {
			width: auto;
			float: right;
		}


		.meta {
			float: right;
			padding-top: 25px;
		}

	}
}

.social-list {
	@include clearfix();

	a {
		float: left;
		width: 30px;
		height: 30px;
		padding: 7px 0;
		color: #b5b5b5;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		background: #e9e9e9;
		margin-right: 5px;
		display: inline-block;
		@include border-radius(50%);

		&:hover {
			color: #fff;
			background: $color-yellow;
		}
	}
}

.meta {
	@include clearfix();

	span {
		float: left;
		font-size: 15px;
		line-height: 20px;
		margin-right: 20px;
		display: inline-block;

		i {
			color: #bfbfbf;
			font-size: 18px;
			margin-right: 5px;
		}

		strong {
			color: #282828;
		}
	}


	@media (min-width: $screen-md-min) {

		span {
			margin-right: 30px;
		}
	}
}

.contact {

	.h2 {
		margin-bottom: 20px;
	}

	.contact-address {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.contact-item {
		margin-bottom: 25px;

		.tel {
			color: #282828;
			font-size: 17px;
			font-weight: 700;
			line-height: 24px;

			i {
				color: #b5b5b5;
				margin-right: 10px;
				text-decoration: none;
			}
		}

		.email {
			color: #446b97;
			font-size: 17px;
			font-weight: 400;
			line-height: 24px;

			i {
				color: #b5b5b5;
				margin-right: 10px;
				text-decoration: none;
			}
		}
	}

	h4 {

	}

	.social-list {
		margin-bottom: 30px;
	}

	.map {
		height: 380px;
	}


	@media (min-width: $screen-md-min) {
		.h2 {
			margin-top: 30px;
		}
	}

}

.filter-tags {
	font-size: 0;
	line-height: 0;
	margin: 0 -3px 20px -2px;
	@include clearfix();

	.tags-item {
		float: left;
		height: 25px;
		overflow: hidden;
		display: block;
		margin: 0 2px 5px 3px;
	}

	label {
		display: inline-block;

		input[type='checkbox'] {
			display: none;
		}

		span {
			color: #282828;
			font-size: 14px;
			padding: 5px 10px;
			line-height: 15px;
			background: #e9e9e9;
			display: inline-block;
			text-transform: uppercase;
			@include border-radius(3px);
		}

		input[type='checkbox']:checked + span {
			color: #fff;
			font-weight: 700;
			background: $color-yellow;
		}
	}
}

.comments {

	.comments-row {
		width: 100%;
		display: table;

		.comments-col-left {
			width: 90px;
			display: table-cell;
			vertical-align: top;
		}

		.comments-col-right {
			display: table-cell;
			vertical-align: top;
		}
	}

	.comments-answer {
		margin-bottom: 20px;
		padding-bottom: 35px;
		border-bottom: 1px solid #e5e5e5;
	}

	.comments-avatar {
		width: 70px;
		height: 70px;
		overflow: hidden;
		@include border-radius(50%);
	}

	.post {
		padding: 20px 0;
		border-bottom: 1px solid #e5e5e5;

		.post-heading {
			margin-bottom: 15px;
			@include clearfix();

			.post-author {
				display: block;
				color: #282828;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
			}

			.post-date {
				color: #808080;
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
				display: block;
			}
		}

		.post-text {
			font-size: 15px;
			line-height: 26px;
			margin-bottom: 15px;
		}

		.post-like {
			color: #282828;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			text-decoration: none;

			i {
				color: #bfbfbf;
				font-size: 20px;
				font-weight: 400;
				margin-right: 5px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}
}

.news-block {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;

	&.news-block-white {

		.news-block-content {
			background: #fff;
			border-right: 1px solid #e5e5e5;
		}
	}

	.news-block-image {

		.image-inner {

		}
	}

	.news-block-content {
		padding: 20px 15px;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.hews-block-tags {
		color: #808080;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;

		a {
			color: #446b97;
			text-decoration: none;
		}
	}

	.news-block-heading {
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
		margin-bottom: 10px;
		text-decoration: none;

		.news-block-title {
			color: #282828;
		}

		.news-article {
			color: $color-yellow;
		}
	}

	.news-block-text{
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		display: table;

		&.user-news {

			.news-block-image {
				width: 275px;

				.image-wrap {
					width: 275px;
					overflow: hidden;
				}

				.image-inner {
					width: 275px;
				}
			}

			.news-block-content {
				vertical-align: middle;
				padding: 10px 10px 10px 30px;
			}
		}


		.news-block-image {
			width: 280px;
			display: table-cell;
			vertical-align: top;

			.image-wrap {
				width: 280px;
				overflow: hidden;
			}

			.image-inner {
				width: 450px;
			}
		}

		.news-block-content {
			display: table-cell;
			vertical-align: middle;
			padding: 20px 10px 20px 20px;
		}
	}

	@media (min-width: $screen-lg-min) {


		.news-block-image {
			width: 375px;

			&.user-news {

				.news-block-image {
					width: 275px;

					.image-wrap {
						width: 275px;
						overflow: hidden;
					}

					.image-inner {
						width: 275px;
					}
				}
			}

			.image-wrap {
				width: 375px;
				overflow: hidden;
			}

			.image-inner {
				width: 375px;
			}
		}
	}

}

.news-list {
	margin: 0 auto 20px auto;
	max-width: 400px;

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
	}

}

.news-list-item {
	margin-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;

	&.image-enable {
		border: 1px solid #e5e5e5;

		.news-list-content {
			padding: 10px;
		}
	}

	.news-list-image {
		padding: 10px 10px 0 10px;
	}

	.news-list-content {
		padding: 10px 0;

		.news-title {
			color: #446b97;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 5px;

			a {
				color: #446b97;
				text-decoration: none;

				&:hover {
					color: $text-color;
				}
			}
		}

		.news-date {
			color: #808080;
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 5px;
		}

		.news-text {
			font-size: 14px;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&.image-enable {
			width: 100%;
			display: table;

			.news-list-content {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.news-list-image {
			padding: 10px;
			width: 205px;
			display: table-cell;
			vertical-align: middle;
		}
	}

}

.contact-card {
	width: 100%;
	display: table;
	margin-bottom: 30px;

	.contact-card-image {
		width: 100px;
		display: table-cell;
		vertical-align: top;

		.card-image-inner {
			width: 80px;
			height: 80px;
			overflow: hidden;
			@include border-radius(50%);
			@include box-shadow( 0px 10px 20px 0px rgba(28, 30, 32, 0.15))
		}
	}

	.contact-card-content {
		display: table-cell;
		vertical-align: middle;
	}

	.contact-card-header {
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #e3e3e3;

		.contact-name {
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
		}

		.contact-staff {
			font-size: 17px;
			line-height: 22px;
		}
	}

	.contact-source {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 15px;

		.tel {
			color: #282828;
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
			text-decoration: none;

			i {
				color: #b5b5b5;
				margin-right: 10px;
			}
		}

		.email {
			color: #446b97;
			font-size: 17px;
			line-height: 20px;
			text-decoration: none;

			i {
				color: #b5b5b5;
				margin-right: 10px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.contact-card-image {
			width: 150px;

			.card-image-inner {
				width: 130px;
				height: 130px;
			}
		}

	}

}

.news-add {
	margin-bottom: 30px;
}

.column-gray {
	background: #f3f3f3;
	margin-bottom: 30px;
	padding: 20px 20px 35px 20px;
	@include border-radius(5px);

	.column-date {
		color: #808080;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.column-divider {
		margin-bottom: 15px;
		border-top: 1px solid #d5d5d5;
	}
}

.pagination {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	> li {
		float: left;
		margin: 0 5px;

		> a {
			height: 30px;
			color: #c1c1c1;
			font-size: 20px;
			line-height: 30px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
			}
		}

		&.active {

			> a {
				font-size: 30px;
				font-weight: 700;
				color: $color-yellow;
			}
		}

		&.prev {
			margin-left: 0;
			margin-right: 10px;

			> a {
				width: 40px;
				height: 30px;
				background: url("../img/icon_arrow_right.png") 50% 50% no-repeat;
				@include rotate(180deg);

				&:hover {
					@include opacity(0.7);
				}
			}
		}

		&.next {
			margin-right: 0;
			margin-left: 10px;

			> a {
				width: 40px;
				height: 30px;
				background: url("../img/icon_arrow_right.png") 50% 50% no-repeat;

				&:hover {
					@include opacity(0.7);
				}
			}
		}
	}
}

.events {

	.events-item {
		width: 100%;
		display: table;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;

		.events-left {
			width: 90px;
			padding-top: 5px;
			display: table-cell;
			vertical-align: top;
		}

		.events-right {
			font-size: 16px;
			line-height: 26px;
			display: table-cell;
			vertical-align: top;
		}
	}

	.events-image {
		width: 70px;
		height: 70px;
		overflow: hidden;
		@include border-radius(50%);
		@include box-shadow( 0px 10px 20px 0px rgba(28, 30, 32, 0.15))
	}

	.events-header {
		margin-bottom: 8px;

		strong {
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			margin-right: 10px;
			text-transform: uppercase;
		}

		span {
			color: #808080;
			font-size: 12px;
			line-height: 24px;
			text-transform: uppercase;
		}
	}

	p {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {


		.events-item {

			.events-left {
				width: 105px;
			}

			.events-right {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}

.tabs-nav {
	margin: 0 -3px 20px -2px;
	@include clearfix();

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		padding: 0 3px 5px 2px;

		a {
			border: none;
			outline: none;
			color: #282828;
			font-size: 14px;
			line-height: 15px;
			padding: 5px 10px;
			text-align: center;
			background: #dfdfdf;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(3px);

			&:hover {
				color: #fff;
				background: $color-yellow;
			}
		}

		&.active {

			a {
				color: #fff;
				background: $color-yellow;
			}
		}
	}

}

.btn-view {
	color: #282828;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding-right: 25px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: underline;
	background: url("../img/icon_arrow_right_sm.png") 100% 50% no-repeat ;

	&:hover {
		text-decoration: none;
	}
}

.article-info {
	padding: 30px 20px;
	background: #f3f3f3;
	margin-bottom: 40px;

	.active-row {

	}

	.article-column {

		&:first-child {
			margin-bottom: 20px;
		}
	}

	.article-info-heading {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.article-people {
		margin: 0 -4px;
		@include clearfix();

		a {
			float: left;
			width: 44px;
			height: 44px;
			display: block;
			overflow: hidden;
			margin: 0 4px 8px 4px;
			@include border-radius(50%);
		}
	}

	.article-tags {
		margin: 0 -8px;
		@include clearfix();

		a {
			float: left;
			color: #446b97;
			font-size: 13px;
			line-height: 15px;
			display: inherit;
			margin: 0 8px 8px 8px;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		padding: 20px 0;

		.active-row {
			width: 100%;
			display: table;
		}

		.article-column {
			width: 50%;
			display: table-cell;
			vertical-align: top;
			padding: 10px 25px 0 25px;

			&:first-child {
				margin-bottom: 0;
				border-right: 1px solid #e0e0e0;
			}
		}
	}

}

.promo {
	text-align: center;
	padding: 40px 20px;
	margin-bottom: 35px;
	background: #eff5f7 url("../img/bnr_bg.jpg") 0 100% no-repeat;

	.promo-text {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.38;
		margin-bottom: 25px;
		text-transform: uppercase;

		strong {
			display: block;
			font-weight: 700;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 65px 60px;
		text-align: left;
		background-position: 100% 100%;
	}

	@media (min-width: $screen-lg-min) {

		.promo-text {
			font-size: 36px;
		}
	}
}

.side-block-shadow {
	padding: 20px 20px 0 20px;
	background: #fff;
	@include border-radius(10px);
	@include box-shadow(0px 0px 15px 0px rgba(19, 23, 28, 0.15));
}

.side-box {
	margin-bottom: 30px;

	&.box-gray {
		padding: 20px;
		background: #f3f3f3;
		@include border-radius(10px);
	}

	.event-nav {
		margin-bottom: 20px;
		@include clearfix();

		> li {
			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}

			a {
				color: #446b97;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.side-news {

	> li {
		padding: 15px 0;
		border-bottom: 1px solid #d5d5d5;
	}

	.side-news-date {
		color: #808080;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;
	}

	.side-news-name {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;

		a {
			color: #446b97;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.side-news-row {
		width: 100%;
		display: table;

		.side-news-image {
			width: 130px;
			display: table-cell;
			vertical-align: top;
		}

		.side-news-text {
			padding-left: 15px;
			display: table-cell;
			vertical-align: top;
		}
	}
}

.side-event {
	text-align: center;

	.side-event-heading {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		padding-top: 10px;
		margin-bottom: 10px;

		a {
			color: #446b97;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.side-event-date {
		color: #808080;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;
	}
}

.side-border {
	padding: 25px 15px;
	border: 3px solid $color-yellow;
}

.side-text {
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 20px;
	padding: 0 0 15px 25px;
	border-bottom: 1px solid #e3e3e3;

	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
}

.top-box {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;

	.top-box-image {
		margin-right: -720px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(0,0,0,0.4);
		}
	}

	.top-box-content {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #ffffff;
		padding: 25px 20px;
		position: absolute;
	}

	.top-box-heading {
		font-size: 30px;
		font-weight: 800;
		line-height: 1.1;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.top-box-list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 15px;
		line-height: 20px;

		li {
			width: 100%;
			display: table;

			&:nth-child(1) {
				background: url("../img/img_box_icon_01.png") 0 50% no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/img_box_icon_02.png") 0 50% no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/img_box_icon_03.png") 0 50% no-repeat;
			}

			span {
				min-height: 50px;
				display: table-cell;
				padding: 15px 0 15px 65px;
			}
		}
	}

	.top-box-action {
		padding-top: 15px;
	}

	.btn {
		margin-bottom: 20px;
	}

	.btn-text {
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-xs-min) {

		.top-box-image {
			margin-right: -500px;
		}

		.top-box-content {
			padding: 50px 30px;
		}

		.top-box-heading {
			font-size: 40px;
			line-height: 1.25;
		}

		.top-box-list {
			font-size: 18px;
			line-height: 22px;
			max-width: 500px;

			li {
				margin-bottom: 20px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.top-box-image {
			margin-right: -460px;
		}

		.top-box-heading {
			font-size: 40px;
			line-height: 1.25;
			max-width: 675px;
		}

		.top-box-content {
			padding: 40px 55px 40px 55px;
		}

		.top-box-list {
			font-size: 22px;
			line-height: 30px;

			li {
				margin-bottom: 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		.top-box-heading {
			font-size: 56px;
			line-height: 1.25;
			margin-bottom: 110px;
		}


		.top-box-content {
			padding: 70px 55px 40px 55px;
		}

		.top-box-action {
			right: 55px;
			bottom: 65px;
			position: absolute;
		}

		.top-box-list {

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.btn {
			font-size: 22px;
			line-height: 30px;
			padding: 15px 40px;
		}
	}
}

.post-cast {
	padding-top: 10px;
	padding-bottom: 30px;
	@include clearfix();

	.post-cast-social {
		margin-bottom: 20px;

		span {
			width: 100%;
			float: left;
			display: block;
			font-size: 16px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		a {
			float: left;
			width: 30px;
			height: 30px;
			padding: 7px 0;
			color: #b5b5b5;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			background: #e9e9e9;
			margin-right: 5px;
			display: inline-block;
			@include border-radius(50%);

			&:hover {
				color: #fff;
				background: $color-yellow;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.post-cast-social {
			float: left;
			margin-bottom: 0;
			padding-top: 5px;

			span {
				width: auto;
				margin-right: 20px;
			}
		}
	}
}

.subscribe-block {
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
	border: 2px solid #eabc3c;
	@include clearfix();

	.subscribe-icon {
		display: none;
	}

	.subscribe-text {
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.subscribe-btn {

	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		.subscribe-icon {
			width: 80px;
			float: left;
			display: block;
			padding-top: 15px;
			margin-right: 20px;
		}

		.subscribe-text {
			width: 260px;
			float: left;
			margin-bottom: 0;
		}

		.subscribe-btn {
			float: right;
			padding-top: 15px;
		}
	}

	@media (min-width: $screen-md-min) {

		.subscribe-icon {
			display: none;
		}

		.subscribe-text {
			width: 280px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.subscribe-icon {
			display: block;
			padding-top: 0;
		}

		.subscribe-text {
			width: 350px;
		}

		.subscribe-btn {
			padding-top: 5px;
		}
	}
}

.materials {
	background: #f3f3f3;
	margin-bottom: 30px;
	padding: 25px 40px 10px 40px;


	h4 {
		margin-bottom: 15px;
	}

	a {
		color: #446b94;
		font-size: 17px;
		line-height: 24px;
		padding-left: 50px;
		display: inline-block;
		margin-bottom: 20px;
		min-height: 45px;
		background: url("../img/icon_pdf.png") 0 5px no-repeat;
	}
}

.people-block {


}

.people {
	display: table;
	margin-bottom: 30px;

	.people-image {
		width: 90px;
		display: table-cell;
		vertical-align: middle;
	}

	.people-name {
		font-size: 18px;
		line-height: 26px;
		padding-left: 25px;
		display: table-cell;
		vertical-align: middle;
	}

	.people-name-bold {
		font-size: 22px;
		font-weight: 600;
		line-height: 30px;
		margin-bottom: 5px;
	}

	.people-name-staff {
		font-size: 14px;
		line-height: 20px;
	}

	.people-image-item {
		width: 90px;
		height: 90px;
		overflow: hidden;
		@include border-radius(50%);
		@include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.15));
	}
}

.user-box {
	display: table;
	margin-bottom: 30px;

	.user-box-image {
		width: 90px;
		display: table-cell;
		vertical-align: middle;
	}

	.user-box-content {
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}

	.user-box-name {
		font-size: 22px;
		font-weight: 600;
		line-height: 30px;
		margin-bottom: 5px;
	}

	.user-box-staff {
		font-size: 14px;
		line-height: 20px;
	}

	.user-box-image-item {
		width: 90px;
		height: 90px;
		overflow: hidden;
		@include border-radius(50%);
		@include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.15));
	}

	@media (min-width: $screen-sm-min) {
		margin-left: 20px;
	}
}


.heading-yellow {
	padding: 10px 20px;
	margin-bottom: 20px;
	background: $color-yellow;

	h1 {
		color: #fff;
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {

		h1 {
			padding-left: 40px;
			background: url("../img/heading_arrow_white.png") 0 50% no-repeat;
		}
	}


	@media (min-width: $screen-md-min) {

	}
}


.event-box {
	margin-bottom: 30px;

	.event-box-image {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+9,0.65+99 */
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}

		.eb-image-inner {
			margin-right: -350px;
		}

		.event-box-text {
			left: 0;
			right: 0;
			color: #fff;
			bottom: 0;
			z-index: 10;
			padding: 20px 20px 30px 20px;
			position: absolute;

			.h1 {
				color: #fff;
				margin-bottom: 15px;
			}

			.eb-text {
				font-size: 22px;
				line-height: 30px;
			}
		}
	}

	.event-box-content {
		padding: 20px 20px 30px 20px;
		background: #fff;
		border: 1px solid #e5e5e5;
		border-top: none;
	}

	@media (min-width: $screen-sm-min) {


		.event-box-image {

			.eb-image-inner {
				margin-right: 0;
			}

			.event-box-text {
				padding: 30px;
			}
		}

		.event-box-content {
			padding: 30px;
		}
	}

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

