.footer {
	color: #fff;
	padding: 25px 0;
	background: #282828;

	.footer-logo {
		width: 1px;
		display: none;
		position: absolute;
		visibility: hidden;
		@include opacity(0);
	}

	.footer-nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		list-style: none;
		margin: 0 -10px 20px -10px;

		> li {
			padding: 0 10px;
			display: inline-block;
			margin-bottom: 10px;


			> a {
				color: #fff;
				font-size: 14px;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: underline;

				&:hover {
					color: $color-yellow;
					text-decoration: none;
				}
			}
		}
	}

	.footer-contact {
		text-align: center;

		.social {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -2px 15px -3px;

			> li {
				display: inline-block;
				margin: 0 2px 0 3px;

				&:after,
				&:before {
					display: none;
				}

				> a {
					width: 30px;
					height: 30px;
					padding: 7px 0;
					color: #7a7a7a;
					font-size: 16px;
					line-height: 16px;
					text-align: center;
					background: #4f4f4f;
					display: inline-block;
					@include border-radius(50%);

					&:hover {
						color: #fff;
						background: $color-yellow;
					}
				}
				}
			}


		.footer-tel {
			color: #fff;
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 10px;
			text-decoration: none;
		}

		.footer-email {
			color: #446b97;
			font-size: 16px;
			line-height: 24px;
			text-decoration: none;
		}

		p {
			margin-bottom: 0;
		}
	}


	@media (min-width: $screen-sm-min) {

		.footer-nav {
			float: left;
			width: 500px;
			text-align: left;
			margin-bottom: 0;

			> li {
				width: 50%;
			}
		}

		.footer-contact {
			float: right;
			width: 225px;
			text-align: right;
		}
	}


	@media (min-width: $screen-md-min) {

		.footer-logo {
			float: left;
			width: 105px;
			display: block;
			position: relative;
			visibility: visible;
			@include opacity(1);
			margin-right: 120px;
		}

		.footer-nav {
			width: 500px;
			padding-top: 10px;

		}
	}

	@media (min-width: $screen-lg-min) {

		.footer-logo {
			margin-right: 125px;
		}

		.footer-nav {
			width: 710px;
			padding-top: 30px;

			> li {
				width: auto;

				&:nth-child(1),
				&:nth-child(4) {
					width: 210px;
				}

				&:nth-child(2),
				&:nth-child(5) {
					width: 260px;
				}

				&:nth-child(3),
				&:nth-child(6) {
					width: 170px;
				}
			}

		}
	}
}


.btn-up {
	z-index: 1100;
	bottom: 50px;
	right: 20px;
	width: 70px;
	height: 70px;
	position: fixed;
	display: inline-block;
	@include opacity(0);
	visibility: hidden;
	background: #fff url("../img/icon_up.png") 50% 50% no-repeat;
	@include box-shadow(0px -10px 20px 0px rgba(28, 30, 32, 0.15));
	@include border-radius(50%);

	&:hover {
		background-color: #fff;
	}

	@media (min-width: $screen-lg-min) {
		visibility: visible;
	}
}
