.header {
	padding: 15px 0;
	background: #fff;

	.header-logo {
		width: 260px;
		display: block;
		margin: 0 auto 15px auto;
	}

	.header-contact {
		margin-bottom: 15px;
		text-align: center;

		.social {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -2px 15px -3px;

			> li {
				display: inline-block;
				margin: 0 2px 0 3px;

				&:after,
				&:before {
					display: none;
				}

				> a {
					width: 30px;
					height: 30px;
					padding: 7px 0;
					color: #b5b5b5;
					font-size: 16px;
					line-height: 16px;
					text-align: center;
					background: #e9e9e9;
					display: inline-block;
					@include border-radius(50%);

					&:hover {
						color: #fff;
						background: $color-yellow;
					}
				}
			}
		}

		.header-tel {
			color: #2b2a29;
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 10px;
			text-decoration: none;
		}

		.header-email {
			color: #446b97;
			font-size: 16px;
			line-height: 24px;
			text-decoration: none;
		}

		p {
			margin-bottom: 0;
		}
	}

	.header-login {

	}

	.header-profile {
		display: table;
		margin: 0 auto;

		.header-profile-image {
			width: 70px;
			position: relative;
			display: table-cell;
			vertical-align: middle;

			.image-inner {
				width: 70px;
				height: 70px;
				overflow: hidden;
				@include border-radius(50%);
			}

			span {
				left: 0;
				top: -3px;
				color: #fff;
				width: 20px;
				height: 20px;
				padding: 1px 0;
				font-size: 15px;
				font-weight: 700;
				overflow: hidden;
				line-height: 20px;
				text-align: center;
				position: absolute;
				background: #eabc3c;
				@include border-radius(50%);
			}
		}

		.header-profile-text {
			margin: 0;
			padding: 0 0 0 20px;
			list-style: none;
			display: table-cell;
			vertical-align: middle;

			li {

				&:nth-child(1) {

				}
			}

			a {
				color: #446b97;
				font-size: 15px;
				line-height: 22px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			span {
				display: block;
				overflow: hidden;
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				white-space: nowrap;
				text-transform: uppercase;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 11px;

		.header-logo {
			top: 15px;
			left: 50%;
			width: 220px;
			margin-bottom: 0;
			margin-left: -130px;
			position: absolute;
		}

		.header-contact {
			float: left;
			text-align: left;
			margin-bottom: 0;
		}

		.header-login {
			float: right;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-md-min) {

		.header-logo {
			top: 0;
			width: 299px;
			margin-left: -150px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}