
.jumbotron {
	max-width: 100%;
	overflow: hidden;
	background: #fff;
	padding: 20px 0 40px 0;
	position: relative;

	.jumbotron-slider {
		position: relative;

		.slide-nav {
			top: 50%;
			z-index: 10;
			width: 70px;
			height: 70px;
			cursor: pointer;
			margin-top: -70px;
			position: absolute;
			display: inline-block;
			background: rgba(0,0,0,0.5) url("../img/icon_arrow_next.png") 50% 50% no-repeat;
			@include border-radius(50%);
			@include box-shadow(0px 10px 20px 0px rgba(28, 30, 32, 0.15));
			@include transition(.2s);

			&:hover {
				background-color: rgba(0,0,0,0.8);
				@include transition(.2s);
			}

			&.prev {
				left: 40px;
				@include rotate(180deg);
			}

			&.next {
				right: 40px;
			}
		}
	}


	.jumbotron-item {
		border: none;
		outline: none;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		@include opacity(0.5);
		@include transition(.3s);

		&.slick-current {
			border: none;
			@include opacity(1);
			@include transition(.3s);
		}
	}

	.jumbotron-item-inner {
		max-width: 100%;
		overflow: hidden;
		position: relative;
		border: 2px solid #fff;
	}

	.jumbotron-image {
		margin: 0 -190px;
		position: relative;

	}

	.jumbotron-content {
		color: #fff;
		left: 20px;
		right: 20px;
		bottom: 20px;
		position: absolute;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	}

	.jumbotron-date {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	.jumbotron-text {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.3;
		text-transform: uppercase;
	}

	.slick-list {
		overflow: inherit;
	}


	@media (min-width: $screen-sm-min) {

		.jumbotron-image {
			margin: 0 -50px;
		}

		.jumbotron-item {
			outline: none;
			position: relative;
		}

		.jumbotron-content {
			left: 40px;
			right: 80px;
			bottom: 45px;
		}

		.jumbotron-text {
			font-size: 24px;
		}
	}

	@media (min-width: $screen-md-min) {

		.jumbotron-slider {

			.slide-nav {
				margin-top: -35px;
			}
		}

		.jumbotron-item {

			&.slick-current {

				.jumbotron-item-inner {

					&:before {
						display: none;
					}
				}
			}
		}

		.jumbotron-item-inner {
			border: none;

			&:before {
				top: 0;
				left: 0;
				z-index: 10;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				border: 20px solid #fff;
			}
		}

		.jumbotron-image {
			margin: 0;
		}

		.jumbotron-content {

			right: 130px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.jumbotron-item {

			&:before {
				border-width: 30px;
			}
		}

		.jumbotron-text {
			font-size: 30px;
		}

		.jumbotron-content {
			right: 150px;
		}
	}
}


.command {
	background: #fff;

	.command-header {
		padding: 50px 0;

		h1,
		.h1 {
			margin-bottom: 0;
		}
	}

	.command-block {
		margin: 0 auto;
		max-width: 450px;
		@include clearfix();

		> li {
			float: left;
			width: 100%;
			display: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				display: block;
			}
		}
	}

	.command-item {
		display: block;
		position: relative;

		.command-text {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			color: #fff;
			visibility: hidden;
			text-align: center;
			position: absolute;
			background: rgba(234,188,60, 0.85);
			@include transition(0.2s);
			@include opacity(0);
			@include flexbox();

			.command-text-wrap {
				width: 100%;
				padding: 10px 20px;
				margin: auto 0;
			}
		}

		.command-user {
			font-size: 24px;
			line-height: 24px;
			position: relative;
			padding-bottom: 12px;
			margin-bottom: 10px;

			&:before {
				left: 50%;
				bottom: 0;
				width: 60px;
				height: 3px;
				content: '';
				background: #fff;
				margin-left: -30px;
				position: absolute;
			}
		}

		p {
			margin-bottom: 0;
			font-size: 16px;
			line-height: 20px;
		}

		&:hover {

			.command-text {
				visibility: visible;
				@include opacity(1);
				@include transition(0.2s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.command-block {
			max-width: 2250px;

			> li {
				width: 33.33%;
				display: block;

				&:nth-child(10) {
					display: none;
				}
			}
		}

		.command-item {

			.command-user {
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.command-block {

			> li {
				width: 33.33%;

				&:nth-child(10) {

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		.command-block {

			> li {
				width: 25%;

				&:nth-child(9) {
					display: none;
				}
			}
		}
	}

	@media (min-width: 1600px) {


		.command-block {

			> li {
				width: 20%;

				&:nth-child(9),
				&:nth-child(10) {
					display: block;
				}
			}
		}
	}
}

.library {
	padding: 50px 0;
	background: #f3f3f3;

	.tabs-nav {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-lg-min) {

		.tabs-nav {

			ul {
				width: 100%;
				display: table;
			}

			li {
				float: none;
				display: table-cell;

				a {
					width: 100%;
				}
			}
		}
	}

}


.press {
	max-width: 100%;
	overflow: hidden;
	padding: 50px 0 60px 0;

	.press-heading {
		margin-bottom: 30px;
		@include clearfix();

		.h1 {
			float: left;
			margin-bottom: 0;
		}

		.for_press {
			float: right;
			color: #808080;
			font-size: 14px;
			font-weight: 700;
			line-height: 33px;
			display: inline-block;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}

	.press-slider {
		margin: 0 -10px;
		position: relative;

		.press-slider-item {
			border: none;
			outline: none;
			padding: 0 10px;
		}

		.slide-nav {
			top: 50%;
			z-index: 10;
			width: 70px;
			height: 70px;
			cursor: pointer;
			margin-top: -70px;
			position: absolute;
			display: inline-block;
			background: #f3f3f3 url("../img/icon_arrow_next.png") 50% 50% no-repeat;
			@include border-radius(50%);
			@include transition(.2s);

			&:hover {
				background-color: rgba(0,0,0,0.4);
				@include transition(.2s);
			}

			&.prev {
				left: -100px;
				@include rotate(180deg);
			}

			&.next {
				right: -100px;
			}
		}
	}


	.press-content {
		background: #fff;
		border: 1px solid #e5e5e5;

		.press-image {

		}

		.press-text {
			padding: 20px;
			text-align: center;
			position: relative;

			&:before {
				top: 0;
				left: 40px;
				right: 40px;
				content: '';
				position: absolute;
				border-top: 1px solid #e5e5e5;
			}

			.press-date {
				color: #808080;
				font-size: 12px;
				line-height: 14px;
				margin-bottom: 10px;
			}

			h5 {
				color: #282828;
				font-size: 18px;
				font-weight: 600;
				line-height: 20px;
				margin-bottom: 10px;
			}

			p {
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 30px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.press-slider {

		}

		.press-content {
			margin-bottom: 30px;

			.press-text {
				padding: 20px 30px 0 30px;
			}

			.press-footer {
				margin-bottom: -22px;
			}
		}

	}

	@media (min-width: $screen-md-min) {

		.press-slider {
			margin: 0 -10px;
		}

	}

	@media (min-width: $screen-lg-min) {

	}

}

.idea-block {
	text-align: center;
	padding: 40px 0 50px 0;
	background: url("../img/idea_bg.jpg") 0 0 no-repeat;

	.idea-content {
		max-width: 490px;
	}

	.idea-heading {
		font-size: 40px;
		font-weight: 300;
		line-height: 1.357;
		margin-bottom: 20px;
		text-transform: uppercase;


		.heading-one {
			margin-bottom: 20px;
			padding-bottom: 40px;
			background: url("../img/ili.png") 50% 100% no-repeat;
		}

		.heading-two {

		}
	}

	p {
		color: #282828;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		height: 700px;
		padding-top: 80px;
		background-position: -50px 50%;

		.idea-heading {
			font-size: 56px;
			line-height: 76px;
		}

		p {
			font-size: 22px;
			line-height: 30px;
		}


	}
	@media (min-width: $screen-md-min) {
		background-position: 50% 50%;
	}
}


.block-one {
	padding: 40px 0;
	background: #fff;

	.news-container {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-lg-min) {

		.news-container {
			padding-right: 40px;
		}
	}

	.side-info {
		color: #fff;
		padding: 10px;
		text-align: center;
		position: relative;
		background: url("../img/nav_bn_bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		.side-info-border {
			position: relative;

			&:after {
				top: 0;
				left: 0;
				right: 0;
				z-index: 1;
				height: 2px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(255,255,255, 0.2);
			}

			&:before {
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
				width: 2px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(255,255,255, 0.2);
			}
		}

		.side-info-wrap {
			padding: 25px 25px 20px 25px;
			position: relative;

			&:after {
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				height: 2px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(255,255,255, 0.2);
			}

			&:before {
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				width: 2px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(255,255,255, 0.2);
			}
		}

		.side-info-date {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 15px;
		}

		.side-info-title {
			max-width: 350px;
			font-size: 22px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 20px;
		}

		.side-info-action {
			@include clearfix();

			.side-order {
				color: #fff;
				font-size: 15px;
				font-weight: 700;
				line-height: 20px;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			.side-link {
				width: 100%;
				color: #eabc3c;
				font-size: 15px;
				font-weight: 700;
				line-height: 20px;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}


		@media (min-width: $screen-sm-min) {

			text-align: left;

			.side-info-action {


				.side-order {
					float: left;
					margin-bottom: 0;
				}

				.side-link {
					float: right;
					width: auto;
				}
			}
		}
	}
}

.nav-block {
	padding-top: 10px;
	margin-bottom: 35px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			width: 50%;

			a {
				width: 100%;
				color: #2b2a29;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				position: relative;
				display: inline-block;
				text-decoration: none;
				padding: 85px 2px 15px 2px;

				&:before {
					top: 22px;
					left: 50%;
					content: '';
					width: 50px;
					height: 52px;
					margin-left: -25px;
					position: absolute;
					background: url("../img/srine-icon-nav.png") no-repeat;
				}

				&:hover {
					color: #fff;
					text-decoration: none;
					background: $color-yellow;
				}
			}

			&:nth-child(1) {

				a {
					&:before {
						background-position: 0 0;
					}

					&:hover {

						&:before {
							background-position: 0 -108px
						}
					}
				}
			}

			&:nth-child(2) {

				a {
					&:before {
						background-position: -50px 0;
					}

					&:hover {

						&:before {
							background-position: -50px -108px
						}
					}
				}
			}

			&:nth-child(3) {

				a {
					&:before {
						background-position: -100px 0;
					}

					&:hover {

						&:before {
							background-position: -100px -108px
						}
					}
				}
			}

			&:nth-child(4) {

				a {
					&:before {
						background-position: -150px 0;
					}

					&:hover {

						&:before {
							background-position: -150px -108px
						}
					}
				}
			}

			&:nth-child(5) {

				a {
					&:before {
						background-position: 0 -52px;
					}

					&:hover {

						&:before {
							background-position: 0 -160px
						}
					}
				}
			}

			&:nth-child(6) {

				a {
					&:before {
						background-position: -50px -52px;
					}

					&:hover {

						&:before {
							background-position: -50px -160px
						}
					}
				}
			}

			&:nth-child(7) {

				a {
					&:before {
						background-position: -100px -52px;
					}

					&:hover {

						&:before {
							background-position: -100px -160px
						}
					}
				}
			}

			&:nth-child(8) {

				a {
					&:before {
						background-position: -150px -52px;
					}

					&:hover {

						&:before {
							background-position: -150px -160px
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		ul {

			li {

				width: 25%;
			}
		}
	}

	@media (min-width: $screen-md-min) {


		ul {

			li {

				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {

			li {

				width: 25%;
			}
		}
	}
}


.events-block {
	background: #f3f3f3;
	padding: 50px 0 60px 0;

	.events-heading {
		margin-bottom: 20px;
		@include clearfix();

		.h1 {
			margin-bottom: 5px;
		}

		.city-list {
			margin: 0 -10px;
			padding: 0;
			list-style: none;
			@include clearfix();

			> li {
				float: left;
				padding: 0 10px 6px 10px;

				> a {
					color: #282828;
					font-size: 14px;
					line-height: 20px;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}

				&.active {

					> a {
						font-weight: 700;
						text-decoration: none;
					}
				}

				&:last-child {
					text-decoration: none;
				}
			}
		}
	}

	.tabs-nav {
		margin-bottom: 20px;
	}

	.events-row {
		margin: 0 auto;
		max-width: 400px;
		@include clearfix();

		> li {
			margin-bottom: 30px;
		}
	}

	.event-item {

		.event-image {
			z-index: 10;
			position: relative;
			border-bottom: 2px solid $color-yellow;

			.event-status {
				left: 0;
				right: 0;
				bottom: -14px;
				text-align: center;
				position: absolute;

				span {
					color: #fff;
					font-size: 14px;
					line-height: 19px;
					padding: 3px 15px;
					display: inline-block;
					background: $color-yellow;
					@include border-radius(3px);
				}
			}
		}

		.event-content {
			text-align: center;
			background: #fff;
			border: 1px solid #e5e5e5;
			border-top: none;
			padding: 25px 20px 20px 25px;

			.event-date {
				color: #808080;
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 15px;
			}

			.event-heading {
				color: #282828;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				margin-bottom: 10px;
			}

			.event-text {
				font-size: 15px;
				line-height: 24px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {


		.events-row {
			margin: 0 -12px 10px -12px;
			max-width: inherit;

			> li {
				float: left;
				width: 50%;
				padding: 0 12px;

				&:last-child {
				//	margin-left: 25%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {


		.events-row {
			margin-bottom: 40px;

			> li {
				width: 33.33%;
				margin: 0;

				&:last-child {
					margin-left: 0;
				}
			}
		}

		.events-heading {

			.h1 {
				float: left;
				margin-bottom: 0;
			}

			.city-list {
				float: right;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.events-heading {

			.city-list {
				float: right;
				margin: 0 -10px;

				> li {
					padding: 0 10px;
				}
			}
		}

		.tabs-nav {

			ul {
				width: 100%;
				display: table;
			}

			li {
				float: none;
				display: table-cell;

				a {
					width: 100%;
				}
			}
		}
	}
}



.operation {
	padding: 50px 0;
	background: #fff;

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.operation-accordion {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		margin-bottom: 20px;
		border: 1px solid #e5e5e5;

		&.open {
			margin-bottom: 40px;
			@include box-shadow(0px 10px 20px 0px rgba(28, 30, 32, 0.1));

			.operation-header {

				.operation-header-text {
					font-weight: 800;
				}

				.operation-dropdown {
					@include rotate(180deg);
					@include transition(0.3s);
				}
			}

			.operation-content {
				display: block;
				@include clearfix();
			}
		}

		.operation-header {
			cursor: pointer;
			padding: 40px 25px;
			position: relative;

			&:before {
				width: 1px;
				height: 1px;
				content: '';
				position: absolute;
				visibility: hidden;
				@include opacity(0);
			}

			.operation-header-text {
				color: #fff;
				font-size: 30px;
				line-height: 40px;
				text-transform: uppercase;
			}

			.operation-dropdown {
				top: 50%;
				right: 20px;
				width: 60px;
				height: 60px;
				margin-top: -30px;
				position: absolute;
				background: rgba(0,0,0, 0.2) url("../img/icon_dropdown.png") 50% 50% no-repeat;
				@include border-radius(50%);
				@include transition(0.3s);
			}

			&:hover {

				.operation-dropdown {
					background-color: rgba(0,0,0, 0.4);
				}
			}
		}

		&:nth-child(1) {
			background: url("../img/operation_01.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_01.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(2) {
			background: url("../img/operation_02.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_02.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(3) {
			background: url("../img/operation_03.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_03.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(4) {
			background: url("../img/operation_04.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_04.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(5) {
			background: url("../img/operation_05.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_06.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(6) {
			background: url("../img/operation_06.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_06.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(7) {
			background: url("../img/operation_07.jpg") 50% 0 no-repeat;

			.operation-header {

				&:before {
					background: url("../img/operation_icon_07.png") 0 0 no-repeat;
				}
			}
		}

		.operation-content {
			display: none;
			padding: 25px 20px;
			background: #fff;
			border-top: none;
			background: rgba(255,255,255,0.9);

			.content-image-left {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			.operation-header {
				line-height: 40px;
				height: 160px;
				padding: 60px 120px 60px 40px;

				.operation-header-text {
					font-size: 36px;
					letter-spacing: 3px;
				}
			}

			.operation-content {
				padding: 35px 50px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			.operation-header {
				padding-left: 220px;

				&:before {
					width: 160px;
					height: 94px;
					left: 40px;
					top: 50%;
					margin-top: -47px;
					visibility: visible;
					@include opacity(1);
				}

				.operation-header-text {
					font-size: 36px;
					letter-spacing: 3px;
				}

				.operation-dropdown {
					width: 100px;
					height: 100px;
					right: 40px;
					margin-top: -50px;
				}
			}

			.operation-content {

				.content-image-left {
					float: left;
					width: 40%;
					margin-bottom: 0;
					padding: 0 20px 10px 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {

			.operation-content {

				.content-image-left {
					float: left;
					width: 50%;
					padding: 0 20px 10px 0;
				}
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

