.topnav {
	z-index: 1000;
	position: relative;
	background: #282828;

	&.open-nav {

		.topnav-header {

			.header-nav-btn {
				@include rotate(90deg);
				@include transition(.3s);
			}
		}

		.navbar {
			display: block;
		}
	}

	&.open-search {

		.top-search {
			visibility: visible;
			@include opacity(1);
		}
	}

	.topnav-header {
		margin: 0 -10px;
		overflow: hidden;
		@include clearfix();

		.header-search-btn {
			float: left;
			width: 60px;
			height: 60px;
			display: block;
			cursor: pointer;
			background: #eabc3c url("../img/icon_loop.png") 50% 50% no-repeat;
		}

		.header-nav-btn {
			float: right;
			margin: 0;
			width: 60px;
			height: 60px;
			font-size: 0;
			display: block;
			cursor: pointer;
			padding: 18px 15px;
			line-height: 14px;
			text-decoration: none;
			background: #000;
			@include transition(.3s);

			span {
				width: 100%;
				height: 3px;
				background: #fff;
				margin-bottom: 7px;
				display: block;

				&:last-child {
					margin-bottom: 0;
				}
			}

		}
	}

	.navbar {
		left: 0;
		right: 0;
		top: 100%;
		display: none;
		z-index: 1000;
		position: absolute;
		background: #282828;
		@include clearfix();

		.navbar-search {
			width: 44px;
			height: 44px;
			display: none;
			cursor: pointer;
			background: #eabc3c url("../img/icon_loop.png") 50% 50% no-repeat;

			&:hover {
				background-color: #ddaa1d;
			}
		}

		.navbar-nav {
			margin: 0;
			padding: 15px 0;
			list-style: none;

			> li {
				position: relative;

				> a {
					width: 100%;
					color: #fff;
					font-size: 14px;
					line-height: 20px;
					padding: 15px 10px 15px 60px;
					position: relative;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #eabc3c;
						text-decoration: none;
					}

					&:before {
						left: 25px;
						top: 50%;
						content: '';
						width: 25px;
						height: 20px;
						display: inline-block;
						margin-top: -10px;
						position: absolute;
						background: url("../img/icon_topnav.png") 0 0 no-repeat;
					}
				}

				&:nth-child(1) {

					> a {

						&:before {
							background-position: 0 0;
						}

						&:hover {

							&:before {
								background-position: 0 -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: 0 -20px;
							}
						}
					}
				}

				&:nth-child(2) {

					> a {

						&:before {
							background-position: -25px 0;
						}

						&:hover {

							&:before {
								background-position: -25px -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: -25px -20px;
							}
						}
					}
				}

				&:nth-child(3) {

					> a {

						&:before {
							background-position: -50px 0;
						}

						&:hover {

							&:before {
								background-position: -50px -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: -50px -20px;
							}
						}
					}
				}

				&:nth-child(4) {

					> a {

						&:before {
							background-position: -75px 0;
						}

						&:hover {

							&:before {
								background-position: -75px -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: -75px -20px;
							}
						}
					}
				}

				&:nth-child(5) {

					> a {

						&:before {
							background-position: -100px 0;
						}

						&:hover {

							&:before {
								background-position: -100px -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: -100px -20px;
							}
						}
					}
				}

				&:nth-child(6) {

					> a {

						&:before {
							background-position: -125px 0;
						}

						&:hover {

							&:before {
								background-position: -125px -20px;
							}
						}
					}

					&:hover {

						> a {

							&:before {
								background-position: -125px -20px;
							}
						}
					}
				}

				&:hover {

					> a {
						color: #eabc3c;
						text-decoration: none;
					}

					.dropnav {
						display: block;
					}
				}
			}

			.dropnav {
				margin: 0;
				padding: 0;
				display: none;
				list-style: none;
				background: #282828;

				> li {

					> a {
						width: 100%;
						color: #fff;
						font-size: 14px;
						line-height: 20px;
						padding: 10px 15px 10px 60px;
						position: relative;
						display: inline-block;
						text-decoration: none;

						&:hover {
							color: $color-yellow;
						}
					}
				}
			}
		}
	}

	.top-search {
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1000;
		background: #fff;
		position: absolute;
		visibility: hidden;
		border: 10px solid $color-yellow;
		@include opacity(0);

		.form-search {
			margin: 0;
			width: 100%;
			color: #808080;
			outline: none;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			border: 1px solid #fff;
			background: transparent;
			padding: 6px 30px 6px 15px;
			@include placeholder(#808080);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		.btn-search {
			top: 0;
			right: 0;
			margin:0;
			padding: 0;
			color: #fff;
			width: 34px;
			height: 34px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			text-align: center;
			position: absolute;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			touch-action: manipulation;
			background: transparent url("../img/icon_loop_yellow.png") 50% 50% no-repeat;

			&:hover {
				background-color: transparent;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.topnav-header {
			display: none;
		}

		.navbar {
			top: auto;
			left: auto;
			right: auto;
			display: block;
			position: relative;

			.navbar-search {
				float: left;
				display: block;
			}

			.navbar-nav {
				margin: 0;
				padding: 0;
				width: 880px;
				float: right;
				display: table;
				border-top: none;

				> li {
					text-align: center;
					display: table-cell;
					border-bottom: none;

					> a {
						font-size: 13px;
						width: auto;
						padding: 12px 10px;
						border-bottom: none;

						&:before {
							display: none;
						}
					}
				}


				.dropnav {
					top: 100%;
					left: 0;
					padding: 0;
					width: 280px;
					position: absolute;

					> li {
						text-align: left;
						border-top: 1px solid #3e3e3e;

						> a {
							padding: 10px 15px 10px 40px;
						}
					}
				}
			}
		}


		.top-search {
			left: 10px;
			right: 10px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.navbar {

			.navbar-nav {
				width: 1100px;

				> li {

					> a {
						padding: 12px 10px 12px 30px;

						&:before {
							left: 0;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

