.user-card {

	.user-row {
		width: 100%;

		.user-left {

		}

		.user-right {

		}
	}

	.user-image {
		margin: 0 auto;
		max-width: 360px;

		.user-image-item {
			z-index: 1;
			max-width: 360px;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
			@include box-shadow( 0px 10px 20px 0px rgba(0, 0, 0, 0.15));
		}

		.user-ticket {
			color: #fff;
			z-index: 10;
			max-width: 295px;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			padding: 15px 10px;
			text-align: center;
			position: relative;
			margin: -50px auto 30px auto;
			background: url("../img/user_profile_photo_bg.png") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	.social-list {
		font-size: 0;
		line-height: 0;
		margin-bottom: 40px;
		text-align: center;

		a {
			float: none;
			display: inline-block;
		}
	}

	.user-heading {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #dbdbdb;

		h1 {
			margin-bottom: 0;
		}
	}

	h2 {
		margin-bottom: 10px;
	}

	.list {
		margin-bottom: 20px;

		li {
			padding-left: 20px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 12px;
				left: 0;
				content: '';
				width: 10px;
				height: 3px;
				background: #000;
				position: absolute;
			}
		}
	}

	.user-list {
		background: #f3f3f3;
		padding: 20px 20px 10px 20px;

		.user-title {
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}

	.user-godfather {
		margin-bottom: 20px;

		.user-title {
			text-align: center;
		}

		.people-item {
			width: 145px;
			color: #282828;
			display: block;
			text-align: center;
			text-decoration: none;

			&:hover {
				color: #282828;
				text-decoration: none;
			}
		}

		.people-avatar {
			width: 73px;
			height: 73px;
			overflow: hidden;
			margin: 0 auto 5px auto;
			@include border-radius(50%);
			@include box-shadow( 0px 10px 20px 0px rgba(0, 0, 0, 0.15));
		}

		.people-name {
			font-size: 12px;
			line-height: 18px;
			text-transform: uppercase;
		}
	}

	.user-godson {

		.godson-list {
			@include clearfix();
		}

		.godson {
			float: left;
			display: block;
			text-align: center;
			margin-right: 15px;
			margin-bottom: 10px;

			&:last-child {
				margin-right: 0;
			}

			.godson-image {
				width: 44px;
				height: 44px;
				overflow: hidden;
				margin: 0 auto 15px auto;
				@include border-radius(50%);
				@include box-shadow( 0px 10px 20px 0px rgba(0, 0, 0, 0.15));
			}

			.godson-name {
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		display: table;

		.user-godfather {
			width: 145px;
			display: table-cell;
			vertical-align: top;
			border-right: 1px solid #e0e0e0;

			.people-item {

			}
		}

		.user-godson {
			padding-left: 20px;
			display: table-cell;
			vertical-align: top;
		}
	}

	@media (min-width: $screen-md-min) {


		.user-row {
			width: 100%;
			display: table;

			.user-left {
				width: 400px;
				display: table-cell;
				vertical-align: top;
			}

			.user-right {
				display: table-cell;
				vertical-align: top;
			}
		}

		.user-image {
			margin: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.user-advantage {
	padding: 40px 0;
	margin-bottom: 20px;
	background: #f3f3f3;

	ul {
		margin: 0 -15px;
		@include clearfix();

		li {
			width: 50%;
			float: left;
			padding: 0 15px;
			text-align: center;
			margin-bottom: 25px;
		}
	}

	.user-advantage-image {
		max-width: 130px;
		margin: 0 auto 15px auto;
	}

	span {
		color: #282828;
		font-size: 22px;
		line-height: 40px;
	}

	@media (min-width: $screen-sm-min) {

		ul {

			li {
				width: 14.28%;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.materials-nav {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	> li {
		float: left;
		margin-left: 30px;
		padding-left: 25px;
		margin-bottom: 10px;
		background: url('../img/heading_arrow.png') 0 50% no-repeat;

		> a {
			color: #c1c1c2;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 1px dashed #c1c1c2;
		}

		&.active {

			> a {
				color: #282828;
				border-bottom-color: transparent;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			margin-bottom: 0;

			> a {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			> a {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.tabs-item {
	display: none;

	&.active {
		display: block;
	}
}