
/* стили для окон */

.topnav .navbar .navbar-search.okna {
	width: 44px;
	height: 44px;
	display: none;
	cursor: pointer;
	background: #e51a4b url("../img/icon_loop.png") 50% 50% no-repeat; }
.topnav .navbar .navbar-search.okna:hover {
	background-color: #d91846; }

@media (min-width: 992px) {
	.topnav .navbar .navbar-search.okna {
		float: left;
		display: block; }}

.topnav .top-search.okna {

	border: 10px solid #e51a4b;
}

.topnav .navbar.okna .navbar-nav > li > a:hover {
	color: #e51a4b;
	text-decoration: none; }
.topnav .navbar.okna .navbar-nav > li:hover > a {
	color: #e51a4b;
	text-decoration: none; }

.tabs-nav.okna li a:hover {
	color: #fff;
	background: #e51a4b; }
.tabs-nav.okna li.active a {
	color: #fff;
	background: #e51a4b; }
.header .header-contact .social.okna > li > a:hover {
	color: #fff;
	background: #e51a4b; }
.footer .footer-contact .social.okna > li > a:hover {
	color: #fff;
	background: #e51a4b; }
.hov-material li>a:hover{
	color: #e51a4b;
}

.btn.okna {
	background: #e51a4b;
}
.btn.okna:hover {
	background: #d91846;
}
.btn:active {
	background: #ddaa1d; }

.footer .footer-nav.okna > li > a:hover {
	color: #e51a4b;
	text-decoration: none; }

.filter-tags.okna label input[type='checkbox']:checked + span {
	background: #e51a4b; }

.events-block.okna .event-item .event-image{
	border-bottom: 2px solid #e51a4b;
}
.events-block.okna .event-item .event-image .event-status span{
	background: #e51a4b;
}

.btn-idea.okna .ico-svg {
	fill: #e51a4b;
}
.btn-idea.okna:hover .ico-svg{
	fill: #d91846;
}

.footer-okna{
	width: 700px;
	float: left;
	margin-top: 25px;
}

.form-group.okna .checkbox{
	margin-right: 20px;
}