.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	padding: 15px 35px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: $color-yellow;
	touch-action: manipulation;
	@include transition(.3s);
	@include border-radius(22px 0 22px 0);
	@include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.1));

	&:hover {
		color: #fff;
		text-decoration: none;
		background: $color-yellow;
		@include box-shadow(none);
	}

	&:active {
		background: #ddaa1d;
	}

	i {
		margin-right: 5px;
	}

	&.btn-blue {
		background: #45b4d4;

		&:hover {
			background: #45b4d4;
		}

		&:active {
			background: #2496b7;
		}
	}
}



.btn-idea {
	color: #fff;
	height: 47px;
	font-weight: 600;
	text-align: left;
	position: relative;
	display: inline-block;

	.ico-svg {
		height: 47px;
		fill: $color-yellow;
	}

	&:hover {

		.ico-svg {
			fill: #ddaa1d;
		}
	}

	span {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 15px;
		line-height: 21px;
		position: absolute;
		padding: 15px 15px 15px 35px;
		display: inline-block;
		white-space: nowrap;

		i {
			margin-right: 10px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 60px;
		font-size: 20px;
		line-height: 20px;

		.ico-svg {
			height: 60px;
		}

		span {
			padding: 20px 15px 15px 35px;
		}
	}
}
