.form-control {
	margin: 0;
	width: 100%;
	color: #929292;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 20px;
	background: #f8f8f8;
	display: inline-block;
	border: 1px solid #e5e5e5;
	@include placeholder(#929292);
	@include border-radius(3px);
	@include box-shadow(inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05));

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #282828;
		border-color: #3cbbea;
		@include placeholder(transparent);
	}
}


.form-control-date {
	margin: 0;
	width: 100%;
	color: #929292;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 20px 9px 40px;
	position: relative;
	display: inline-block;
	border: 1px solid #e5e5e5;
	background: #f8f8f8 url("../img/icon_calendar.png") 10px 50% no-repeat;
	@include placeholder(#929292);
	@include border-radius(3px);
	@include box-shadow(inset 0px -4px 8px 0px rgba(0, 0, 0, 0.05));

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #282828;
		border-color: #3cbbea;
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}



.radio {
	display: inline-block;

	.radio-input {
		display: none;
	}

	.radio-text {
		color: #282828;
		cursor: pointer;
		font-size: 15px;
		line-height: 21px;
		position: relative;
		padding-left: 25px;
		display: inline-block;
		@include transition(.2s);


		&:before {
			left: 0;
			top: 4px;
			width: 14px;
			height: 14px;
			content: ' ';
			position: absolute;
			background: #f8f8f8;
			display: inline-block;
			border: 1px solid #dadada;
			@include border-radius(50%);
			@include transition(.2s);
			@include box-shadow(inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05));
		}

		&:after {
			left: 4px;
			top: 8px;
			width: 6px;
			height: 6px;
			content: '';
			background: $color-yellow;
			position: absolute;
			display: none;
			@include border-radius(50%);
		}

		&:hover {
			color: #282828;
			@include transition(.3s);

			&:before {
				border-color: #dadada;
				@include transition(.3s);
			}
		}
	}

	.radio-input:checked + .radio-text {
		color: #282828;

		&:before {
			border-color: #dadada;
		}

		&:after {
			display: inline-block;
		}
	}
}


.checkbox {
	display: inline-block;

	.checkbox-input {
		display: none;
	}

	.checkbox-text {
		color: #282828;
		cursor: pointer;
		font-size: 15px;
		line-height: 21px;
		position: relative;
		padding-left: 25px;
		display: inline-block;
		@include transition(.2s);


		&:before {
			left: 0;
			top: 4px;
			z-index: 1;
			width: 14px;
			height: 14px;
			content: ' ';
			background: #f8f8f8;
			position: absolute;
			display: inline-block;
			border: 1px solid #dadada;
			@include transition(.2s);
			@include box-shadow(inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05));
		}

		&:after {
			left: 0;
			top: 4px;
			z-index: 2;
			width: 14px;
			height: 14px;
			content: '';
			background: url("../img/icon_check.png") 50% 50% no-repeat;
			position: absolute;
			display: inline-block;
			visibility: hidden;
			@include opacity(0);
		}

		&:hover {
			color: #282828;

			&:before {
				border-color: #dadada;
			}
		}
	}

	.checkbox-input:checked + .checkbox-text {
		color: #282828;

		&:before {
			border-color: #dadada;
		}

		&:after {
			visibility: visible;
			@include opacity(1);
		}
	}
}


.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-hover {

		.selectric {
			border-color: #3cbbea;
		}
	}

	&.selectric-open {

		.selectric {
			border-color: #3cbbea;
		}
	}

	.selectric {
		z-index: 10;
		margin: 0;
		width: 100%;
		color: #929292;
		outline: none;
		font-size: 14px;
		line-height: 20px;
		position: relative;
		padding: 9px 30px 9px 20px;
		background: #f8f8f8;
		display: inline-block;
		border: 1px solid #e5e5e5;
		@include placeholder(#929292);
		@include box-shadow(inset 0px -4px 8px 0px rgba(0, 0, 0, 0.05));

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
		}

		.button {
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			font-size: 20px;
			line-height: 34px;
			padding: 2px 0;
			overflow: hidden;
			position: absolute;
			text-align: center;
		}
	}


	.selectric-items {
		background: #f8f8f8;
		overflow: hidden;
		margin-top: 2px;
		padding: 15px 5px;

		.selectric-scroll {

			ul {
				margin: 0 !important;
				padding: 0 !important;
				list-style: none;

				li {
					color: #282828;
					cursor: pointer;
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
					margin: 0 !important;
					padding: 5px 15px !important;

					&:after,
					&:before {
						display: none !important;
					}

					&:hover {
						color: #282828;
						background: #ebebeb;
					}
				}
			}
		}
	}
}